<!DOCTYPE html>
                <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>Congragulation <%= studentName.toUpperCase() %></title>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" defer></script>
                        <script>
                            // window.onload = () => {
                                
                            //     var element = document.querySelector('.container');

                            //     var opt = {
                            //         // margin:       [2,2,0,2],
                            //         filename:     'certificate.pdf',
                            //         image:        { type: 'png', quality: 0.98 },
                            //         html2canvas:  { scale: 2 },
                            //         jsPDF:        { unit: 'px', format: 'A4', orientation: 'landscape' },
                            //         enableLinks: true
                            //       }

                                  
                            //     html2pdf().set(opt).from(element).save();

                            // }
                        </script>
                        <style>
                        
                        .container {
                            display: grid;
                        
                            grid-template-columns: repeat(12,1fr);
                                                
                            height:1000px !important;
                            width: 3508px !important;

                            background-image: url('http://localhost:4000/certificate_template.png') !important;
                            background-size: 1500px 1000px !important;
                            background-repeat: no-repeat !important;

                        }
                        
                        .studentname {                   
                            font-size: 47px !important;
                            color: gray !important;
                            /* margin: 30px !important; */
                            font-family: serif !important;
                            float: left !important;
                            margin-left: 585px !important;
                            margin-top: 545px !important;
                            text-transform: capitalize !important;
                            width: 100% !important;
                        }
                        
                        
                        .courseInfo {
                            font-size: 19px !important;
                            color: gray !important;
                            float: left !important;
                            margin-left: 345px !important;
                            margin-top: 61px !important;
                            font-family: sans-serif !important;
                            text-transform: capitalize !important;
                            width: 151% !important;
                        }

                        .verificationCodeText {
                            margin-top: 854px !important;
                            margin-left: -77px !important;
                            float: left !important;
                            color: gray !important;
                            font-weight: bolder !important;
                            width: 139% !important;
                        }
                        
                        .verificationCode{
                            margin-top: 12px !important;
                            margin-left: -21px !important;
                            float: left !important;
                            color: gray !important;
                            font-weight: lighter !important;
                            font-size: 21px !important;
                            text-transform: capitalize !important;
                        }
                        
                        </style>
                    </head>
                    <body>
                        <div class="container">
                            <div>
                                <div class="studentname">
                                    <%= studentName %>
                                </div>

                                <div class="courseInfo">
                                    Person above has completed the course <u><%= courseName %></u>
                                </div> 

                            </div>

                            <div>
                                <div class="verificationCodeText">
                                    <%= id %> 
                                </div>
                                <div class="verificationCode">
                                    verification code
                                </div>
                            </div>
                        </div>
                    </body>
                 </html>